<% include partials/header %>

<h1>Yelp Camp!</h1>
<p>Welcome to Yelp Camp the best place to find your next campsite!</p>
<p><a href="/campgrounds/new">Add a new campground</a></p>
<p><a href="/campgrounds">View all campgrounds</a></p>

<% include partials/footer %>
